@charset "UTF-8";
/* Variables */
body {
  font-family: "Akaya Kanadaka", cursive;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.editbody {
  overflow-x: hidden;
}

.barra {
  width: 100%;
  height: 100px;
  display: flex;
  background: #212529;
  border-radius: 0px 0px 8px 8px;
}

.barra__contenedor {
  width: 100%;
  text-align: center;
  align-items: center;
}

.barra__contenedorBtn {
  width: auto;
  height: 50px;
  padding: 0px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.liprimero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0%;
  padding-right: 80px;
  margin-left: 30px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 80px;
}

a {
  width: 220px;
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  background-color: #EBE60E;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  margin: auto;
}
a a:hover {
  background-color: rgba(235, 231, 14, 0.6352941176);
  color: black;
}

.navitems {
  margin-left: 30px;
}

#navigation-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding-left: 5%;
}

.cardmargin {
  margin-top: 35px;
  margin-left: 35px;
}

.video {
  border-radius: 5px;
  margin-left: 30px;
}

.form-bienvenidos {
  width: 350px;
  height: 400px;
  background: #EBE60E;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-radius: 80px;
  border-top: 4px solid black;
  color: black;
}

.form-bienvenidos h5 {
  margin: 0px;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  margin: auto;
  text-align: center;
  display: block;
  width: 150px;
  height: 25px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #faffd6;
  font-size: 14px;
  font-weight: bold;
}

.buttoningresar {
  margin: center;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  width: 60%;
  height: 40px;
  color: white;
  background: black;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}
.buttoningresar .buttoningresar:hover {
  margin-top: 0%;
  background-color: rgba(22, 22, 6, 0.6352941176);
  border: 2px solid rgb(0, 0, 0);
  color: white;
}

.logoformulario {
  width: 100px;
  height: 105px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.olvidastelacontraseña {
  border: 2px solid black;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.olvidastelacontraseña .olvidastelacontraseña:hover {
  color: rgb(116, 110, 34);
}

.video {
  width: 80%;
  margin: 10%;
  margin-top: 5%;
  height: 400px;
  margin-left: 10%;
  margin-right: 100px;
  border-radius: 25px;
}

.btnverticales {
  margin-top: 50px;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#dcdd8c, transparent);
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  width: 90%;
  height: 17rem;
  background-image: linear-gradient(45deg, #d6ca5e, #26282c);
  border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #FFFFFF;
  background-color: #DFE5F2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  width: 100%;
  border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: #848484;
  font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
  position: absolute;
  right: calc(-50px - 1rem);
  top: 0;
  display: flex;
  flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
  border: 0;
  background-color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes + .boton-redes {
  margin-top: 0.5rem;
}

.facebook {
  background-color: #ffffff;
  background-image: url("../images/Facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.instagram {
  background-color: rgb(233, 220, 231);
  background-image: url("../images/Instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
    width: 100%;
  }
  .seccion-perfil-usuario .perfil-usuario-portada,
.seccion-perfil-usuario .perfil-usuario-body {
    width: 95%;
  }
  .seccion-perfil-usuario .redes-sociales {
    position: relative;
    flex-direction: row;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }
  .seccion-perfil-usuario .redes-sociales .boton-redes + .boton-redes {
    margin-left: 1rem;
    margin-top: 0;
  }
  .icon-facebook {
    background-image: url("../images/Facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.texto-registrate {
  color: #EBE60E;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

.texto-entrada {
  color: #EBE60E;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.texto-bienvenida {
  color: #EBE60E;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.texto-rn {
  color: #EBE60E;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
}

/* Prueba de bostrap */
.prueba {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #050505;
}

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  color: #EBE60E;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* rtl:end:ignore */
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

/* rtl:end:remove */
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
    color: #EBE60E;
  }
  .texto-primero {
    color: #EBE60E;
  }
  .texto-secundario {
    color: #EBE60E;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.contenedor-botones {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tabla-perfil {
  margin-top: 70px;
  color: #EBE60E;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.table {
  background-color: #3d414b;
  background-image: linear-gradient(1deg, #887d1f, #26282c);
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
